.ChannelHeader {
  height: 160px;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.ChannelHeader-Avatar {
  margin: 0 24px;
  border: 2px solid hsla(0, 0%, 80%, 0.65);
  padding: 3px;
  border-radius: 50%;
  background-color: black;
}

.CHI-Username {
  font-size: 20px;
  margin-bottom: 4px;
}

.CHI-Subscribers {
  margin-bottom: 8px;
}

.CHI-SubscribeButton {
  margin-top: 12px;
  width: 120px;
}
