.ChannelHeader {
  position: relative;
  height: 160px;
  display: flex;
  align-items: center;
  padding: 0 3%;
}

.ChannelHeader-Avatar {
  margin: 0 24px;
  border: 2px solid hsla(0, 0%, 80%, 0.65);
  padding: 3px;
  border-radius: 50%;
  background-color: black;
}

.ChannelHeader-Avatar .Avatar-Uploader {
  top: 2px !important;
  width: calc(100% - 5px) !important;
  height: calc(100% - 5px) !important;
}

.ChannelHeader__Info {
  color: white;
}

.CHI__Name {
  font-size: 20px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.CHI__Name-Username {
  margin-right: 6px;
  font-size: inherit !important;
}
.CHI__Name-Fullname {
  font-size: inherit !important;
  display: flex;
}

.CHI__Name-Fullname > input {
  margin: 0 2px;
  max-width: 128px;
}

.CHI-Subscribers {
  margin-bottom: 8px;
}

.CHI-SubscribeButton {
  margin-top: 12px;
  width: 120px;
}

.CHI__Buttons {
  display: flex;
}

.CHI__Buttons-UploadBanner,
.CHI__Buttons-Save,
.CHI__Buttons-Cancel {
  padding: 0 12px;
  line-height: 24px;
  margin-right: 4px;
  width: fit-content;
  border-radius: 2px !important;
}

.CHI__Buttons-UploadBanner {
  position: absolute;
  bottom: 8px;
  right: 8px;
  margin: 0;
  transition: background-color 0.1s, opacity 200ms linear !important;
  opacity: 0;
}

.ChannelHeader:hover .CHI__Buttons-UploadBanner {
  opacity: 1;
}
