.WatchDetailSkeleton > * {
  margin-bottom: 12px;
}

.WDK-User {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.WDK-Description {
  margin: 0 12px 12px 32px;
}

.WDK-Categories {
  display: flex;
}

.WDK-Categories > * {
  margin-right: 8px;
}
