.WatchDetail {
  border-bottom: 1px solid var(--main-dark-4);
}

.WatchDetail > * {
  margin-bottom: 12px;
}
.WatchDetail__Info {
  margin-right: 12px;
}
.WatchDetail__Info-Title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  word-break: break-word;
}

.WatchDetail__Info-UploadedAt {
  color: var(--main-grey-2);
}
.WatchDetail__StatisticAndAction {
  display: flex;
  align-items: center;
}

.WDSAA__Actions {
  margin-left: auto;
  margin-right: 8px;
  display: flex;
  align-items: center;
}

/* edit button */
.WDSAA__Actions-Item.App-GreenButton,
.WDSAA__Actions-Item.App-GreyButton {
  padding: 6px 12px;
  margin: 0 4px;
}

.WDSAA__Actions-Item {
  cursor: pointer;
  margin: 0 4px;
}

#WDSAA-Actions:hover > svg {
  color: var(--main-red-1);
}

.WatchDetail__Description {
  margin: 0 12px 8px 32px;
}

.WatchDetail input.App-TextInput,
.WatchDetail textarea.App-TextInput {
  width: 100%;
}

.WDC-Select {
  margin: 0 12px 12px 32px;
}

.WatchDetail-ThumbnailUpload {
  display: flex;
  margin: 0 12px 12px 32px;
}

.WatchDetail-ThumbnailUpload > * {
  padding: 6px 12px;
  margin-right: 8px;
  width: fit-content;
  display: block;
}
