.Watch {
  margin: 18px 3% 3%;
}

@media only screen and (min-width: 1400px) {
  .Watch {
    margin: 18px 10% 10%;
  }
}

.Watch__VideoPlayer,
.Watch__PlaylistPlayer {
  margin-bottom: 16px;
}

.Watch__VideoPlayer {
  display: flex;
  max-height: 500px;
}

.Watch__VideoPlayer .Watch-Player {
  width: 100%;
}

.Watch__PlaylistPlayer {
  display: flex;
  height: 500px;
}

.Watch__PlaylistPlayer .Watch-Player {
  width: 70%;
}
.Watch__PlaylistPlayer .Watch-Playlist {
  width: 30%;
  height: 100%;
}

.Watch__Orther {
  display: flex;
}

.Watch__Orther__Left {
  width: calc(70% - 12px);
  border-right: 1px solid var(--main-dark-4);
  margin-right: 12px;
}

.Watch__Orther__Left-CommentTitle {
  margin-top: 20px;
  font-size: 16px;
}

.Watch__Orther__Right {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .Watch__Orther {
    flex-direction: column;
  }

  .Watch__Orther__Left {
    width: 100%;
    margin-bottom: 32px;
  }

  .Watch__Orther__Right {
    width: 100%;
  }

  .Watch__PlaylistPlayer {
    flex-direction: column;
    height: auto;
  }

  .Watch__PlaylistPlayer .Watch-Player {
    width: 100%;
  }

  .Watch__PlaylistPlayer .Watch-Playlist {
    width: 100%;
    height: 50vh;
  }
}
