.Watch {
  margin: 18px 3% 3%;
}

.Watch__PlaylistPlayer,
.Watch__VideoPlayer {
  margin-bottom: 8px;
}

.Watch__VideoPlayer {
  width: 100%;
}

.Watch__PlaylistPlayer {
  width: 100%;
  display: flex;
}

.Watch__PlaylistPlayer .Watch-Player {
  width: 70%;
}
.Watch__PlaylistPlayer .Watch-Playlist {
  width: 30%;
  height: 100%;
}

.Watch__Orther {
  display: flex;
}

.Watch__Orther__Left {
  width: calc(68% - 12px);
  border-right: 1px solid var(--main-dark-4);
  margin-right: 12px;
}

.Watch__Orther__Left-CommentTitle {
  margin-top: 20px;
  font-size: 16px;
}

.Watch__Orther__Right {
  width: 32%;
}

@media only screen and (max-width: 800px) {
  .Watch__Orther {
    display: block;
  }

  .Watch__Orther__Left {
    width: 100%;
  }

  .Watch__Orther__Right {
    width: 100%;
  }

  .Watch__PlaylistPlayer {
    display: block;
  }

  .Watch__PlaylistPlayer .Watch-Player {
    width: 100%;
  }

  .Watch__PlaylistPlayer .Watch-Playlist {
    width: 100%;
  }
}
