.History__Videos {
  margin: 0 3%;
}

@media only screen and (max-width: 700px) {
  .History__Videos {
    margin: 0 3%;
  }
}

.History__VideoSection p {
  padding: 8px 0 12px 0;
  margin-bottom: 4px;
  font-size: 15px;
  border-bottom: 1px dashed var(--main-dark-5);
}

.History__Function {
  background-color: var(--main-dark-4);
  padding: 12px 6%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.HF__Button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HF__Button:hover {
  color: var(--main-red-1);
}
