.Live {
  display: flex;
  margin: 24px 3% 3%;
}

.Live-Main {
  width: calc(70% - 12px);
}
.Live-LiveChat {
  width: 30%;
  height: calc(100vh - 102px);
  margin-left: 12px;
}

@media only screen and (max-width: 800px) {
  .Live {
    height: auto;
    flex-direction: column;
  }
  .Live-Main {
    width: 100%;
  }
  .Live-LiveChat {
    width: 100%;
    height: 80vh;
    margin-left: 0;
  }
}

.LiveDetail {
  border-bottom: 1px solid var(--main-dark-4);
}

.LiveDetail > * {
  margin-bottom: 12px;
}
.LiveDetail__Info {
  margin-right: 12px;
}
.LiveDetail__Info-Title {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  word-break: break-word;
}

.LiveDetail__Info-UploadedAt {
  color: var(--main-grey-2);
}

.LiveDetail__Description {
  margin: 0 12px 8px 32px;
}
