.SidebarGroup {
  background-color: var(--main-dark-4);
  margin: 0 10px;
  padding: 15px 10px 10px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  width: calc(100% - 20px);
}

.SidebarGroup-Toggle {
  /* text-align: center; */
  margin-top: 10px;
  color: var(--main-grey-2);
  font-size: 12px;
  cursor: pointer;
}

.SidebarGroup-Toggle:hover {
  color: var(--main-red-1);
}
