.NotFound {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html[theme='dark'] .NotFound {
  color: var(--main-grey-3);
}

html[theme='light'] .NotFound {
  color: var(--main-grey-2);
}

.NotFound-Center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NotFound-Center.horizontal {
  flex-direction: row !important;
  align-items: center;
}

.NotFound-Center.horizontal .NotFound-Center-Icon {
  margin-bottom: 0 !important;
}

.NotFound-Center-Icon {
  font-size: 128px !important;
  margin-bottom: 10%;
}

.NotFound-Center-Text {
  font-size: 26px;
  text-align: center;
}
