.PlayerSettings {
  position: relative;
}

.PlayerSettings.hide .PlayerSettings-Menu {
  display: none;
}

.PlayerSettings-Menu {
  position: absolute;
  bottom: 48px;
  left: -80px;
  width: 140px;
  border-radius: 4px;
  background-color: #111b;
}

.PlayerSettings-Menu > * {
  padding: 8px;
  cursor: pointer;
}

.PlayerSettings-Menu > *:hover,
.PlayerSettings-Menu > *.active {
  background-color: #fff1;
}

.PlayerSettings-Menu-Loop {
  border-top: 1px solid #fff3;
  display: flex;
}

.PlayerSettings-Menu-Loop svg:hover {
  color: white !important;
}
.PlayerSettings-Menu-Loop > div {
  margin-right: auto;
}
