.PlaylistVideoWrapper {
  display: flex;
}

.PlaylistVideoWrapper.active {
  background-color: var(--main-grey-1) !important;
}

.PlaylistVideoWrapper:hover {
  background-color: var(--main-dark-5);
}

.PlaylistVideo {
  display: flex;
  flex-basis: 84%;
}

.PlaylistVideo-Thumbnail {
  flex-basis: 30%;
  margin: 10px 2px;
}

.PlaylistVideoWrapper.active .PlaylistVideo-Thumbnail {
  margin: 8px 0;
  border: 2px solid var(--main-green-1);
}

.PlaylistVideo__Detail {
  flex-basis: calc(70% - 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.PlaylistVideo__Detail-Title {
  margin-bottom: 4px;
}

.PlaylistVideo__Detail-Username {
  color: var(--main-grey-2);
}

.PlaylistVideo-Number {
  display: flex;
  align-items: center;
  flex-basis: 8%;
  justify-content: center;
}

.PlaylistVideo-Number svg {
  color: var(--main-green-1);
}

.PlaylistVideo-Remove {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 8%;
  opacity: 0;
}

.PlaylistVideo-Remove svg {
  cursor: pointer;
  color: var(--main-grey-2);
}

.PlaylistVideo-Remove svg:hover {
  color: var(--main-red-1);
}

.PlaylistVideoWrapper:hover .PlaylistVideo-Remove {
  opacity: 1;
}
