#Main {
  flex-grow: 1;
  background-color: var(--main-dark-3);
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.Main__Container {
  flex-grow: 1;
  margin-bottom: 24px;
}

.Main__Footer {
  height: 6px;
}
