.VideoThumbnail {
  background-size: cover;
  background-position: center;
}

.VideoThumbnail__Wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  background-color: #000d;
}

.VideoThumbnail__Wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.VideoThumbnail__Wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: linear-gradient(#0000, #0000, #0000, #000e);
}

.VideoThumbnail {
  position: relative;
}

.VideoThumbnail-Info {
  position: absolute;
  bottom: 5%;
  right: 3%;
  display: flex;
  align-items: center;
}

.VideoThumbnail-Info > * {
  margin-right: 4px;
}

.VideoThumbnail-Info-View {
  margin-right: 8px;
}

.VideoThumbnail-Info > svg {
  font-size: 18px;
}

.VideoThumbnail-Buttons {
  display: none;
  position: absolute;
  top: 5%;
  right: 3%;
  align-items: center;
  background-color: #0005;
  border-radius: 4px;
  z-index: 10;
}

.VideoThumbnail:hover .VideoThumbnail-Buttons {
  display: flex;
}

.VideoThumbnail-Buttons > svg {
  font-size: 18px;
}

.VideoThumbnail-Buttons > svg:hover {
  color: var(--main-red-2);
}
