.ActionPopup {
  padding: 8px 0;
  width: 180px;
}

.ActionPopup-Action {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.ActionPopup-Action > svg {
  font-size: 18px;
  margin-right: 8px;
}

.ActionPopup-Action:hover {
  background-color: var(--main-dark-3);
}
