.Header {
  position: sticky;
  height: 54px;
  background-color: var(--main-dark-1);
  display: flex;
  padding: 0 10px;
  z-index: 3;
}

.Header > * {
  height: 100%;
  display: flex;
  align-items: center;
}

.HLS-SidebarToggle {
  color: var(--main-grey-2);
}

.HLS-SidebarToggle:hover {
  color: var(--main-red-1);
}

.Header__SearchSection {
  flex-grow: 2;
  justify-content: flex-end;
}

.Header__SearchSection-SearchBar {
  width: 80%;
}

@media only screen and (max-width: 700px) {
  .Header__SearchSection {
    display: none;
  }
}

.Header__UserSection {
  flex-grow: 1;
  justify-content: flex-end;
}

.Header__LogoSection-Logo {
  font-size: 28px !important;
  color: var(--main-red-1);
}

.Header__LogoSection-Title {
  font-size: 17px;
  font-weight: 500;
  margin-left: 4px;
}

.Header__UserSection-Button {
  margin-right: 14px;
  display: flex;
  align-items: center;
  color: var(--main-grey-2);
  cursor: pointer;
}

.Header__UserSection-Button:hover {
  color: var(--main-red-1);
}

.Header__FixedSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 12px;
  background-color: var(--main-dark-1);
  display: flex;
  align-items: center;
}

.Header__FixedSearch-SearchBar {
  flex-grow: 1;
}

.Header__FixedSearch-Close {
  cursor: pointer;
  margin-left: 12px;
}

.Header__FixedSearch-Close:hover svg {
  color: var(--main-red-1);
}
