.SidebarWrapper {
  position: relative;
  width: 220px;
  flex-shrink: 0;
  background-color: var(--main-dark-2);
  height: 100%;
}

.Sidebar {
  height: 100%;
  overflow-y: auto;
}

.Sidebar-Toggle {
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 126px;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 12px 116px;
}

.Sidebar-Toggle.colapse {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAB0CAYAAACxBNNLAAACmklEQVRYR+2Yy4oTQRSG/0MuIOSyyjYhmxDyFj6Gs/ARFFTcKIOrWcxsxo0oghtBXOlKBMUXGCE6moFMSKzuKDghMZA2l1ZjHTmhWzNjJ6madTf0KuerU+ev6kqdn0ql0kXf9w96vd4EBg+Vy+WHWusd13WVQTwEcJl5x3GcRwB+bYIE8Jn5SGt9udvtHpkAMwnSWj8mom3HcU7WQZJhCuACM38DsOt53v3hcOitgv4CABjAFyK6o7V+4jiOHwUtA/I7M/MnALccx3kWJcJZIISOieimUuolgPlypihgkYaIPgK4oZR6I5qEUCQQpJGgAyK6qpR6G9S4WLiFSlEFMvNvAC+I6IpSypWYtUAwiEi8Nx6P9/v9/tgEELlbWutLruu+NwFEhAkR7RPRnhEQrM8hM2+ZAlLOCTNfswGk+Ac2wE8Ar2wAUevQBhC1vloBAEZWADNPrQAAsxjYdOrFKhkoJCHxXjIRKlYpVilUgJnlfwFEJO/6rSGB8qRSKczncwFXAxKstUY+n0exWESn08F0Oo0GwuBsNotarbbIUK/Xo4Hl4Gq1ilwuh9FohEajAd/3T2cI5ywjVyoVZDIZeJ6HVquFyWRxDz4NyJzT6TRk5EKhgNlshmazicFggEQi8b9K1hmCm9hCHZnWxhqWFyuENqp0FjJah2XIeKXPtZciPsH4XIrPpRUKxFsj3hrx1vingN33cJ62zLrxs2ot5R7xwabxk/b4tQ1g3YBbtfjivpibCIFNcZeIdk1qCI2QLdd135kA5laLlZnDzJqIxCYS52e9XRQYUg0A100MKYk3trxEkTaA20qp55tMNQn+zMzbyWTyabvd/rHWtguMQXGq7g0Gg++rDlpZB2vr0drctLZP7QxaWwv4D0k/qVnkC9XUAAAAAElFTkSuQmCC);
}

.Sidebar-Toggle.colapse:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAB0CAYAAACxBNNLAAACoklEQVRYR+2YQWsTQRTH/y+RxBwKTfwIuehJv4L4KexBwQ+goMWDSugpQgtSL6IIXgTxpCcRFC8eW0Sj9qBMnATFWpIQsqaNSXbnyQu7GNPNZqbn3Wveb9+8/7ydzPtTuVw+2+/3t/b29vZh8VC5XH7o+3612Wxqi3gI0ARQrdfrjwCMF0EC/AGwQ0QXlFI7NsAgDHocBEGl0Wj8SoIkwwGAAoAOgHUiuq+U8uZB0wAD+MHMa8aYJ41GQ5Z66JkG5EeBvgG4Wa/Xn8WJMAtMIGb+wszXtdYvAfjTaeKACQHgEzOvaq3fADARFAuEaQwRbRljrmitt8PlTjYuUulQgcwcENELY8xlrbVscDIQvkEk3vA8b7PVavUTM4SAlPQ1k8mcV0p9sAFEhH0i2mTmDSsglLoWBMGKLSBZpMeuWgMApPgHLsCImV+5AKJWzQWQOnadAAA9J4CZD5wAAIMUWHTqpSpZKCQhaS/ZCJWqlKoUKSC3CLlsHJM/daLk1jDMk+tNKZtF3xj4zPMBCR4x43Q+j0tLS7jT66E5HscDUfDJXA7VUgnFTAYXW614YDp4rVjEmXwe74ZDrHY62PX9/zNIgbJmefON5WWcyuVQG41wu9uFGo+RmT01xsw4kc2iUiziXKGAn76PSreLt4MBjhMhO6uScwbR3qmGaLOcVJqFrPZhGrLe6SP1UswnmJ5L6bk0R4G0NdLWSFvjnwJu38NRxjLnwc9ptJTh9aPL4Cfj8WsXwG0Adx3xJ8O3tYkQ2hR3mXndpobICFlRSr23AeytFiczh5nFU9pmZnF+ku0iWTQRfTbGXLMxpJwsL7mLKGPMLa3180WmmgR/B1AhoqdKqeEi264j/pHneffa7fbvJGPQ2Xp0Njed7VNng9bJAv4LXqW9MQ2l4+0AAAAASUVORK5CYII=);
}

.Sidebar-Toggle.expand {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAB0CAYAAACxBNNLAAACk0lEQVRYR+2YQWsTQRTH/y8EQggkl9xDCIQccso38GPYgx9BQcWLUjz10F7qRRTBiyCe9CSC4heoB63aEEPo7EbBhsRANts2MWaevHUjabpJZvTYHdjTvt++ff+ZnZ33p0KhcGk0Gu11Op1jGAwqFouPtNZbrusqg3gI4DLzluM4jwFM1kECjJj5QGt9pd1uH5gApxKktX5CRJuO4xytgiTDCYA0M/8AsO153oN+v+8tg/4CABjANyK6q7V+6jjOKAqaB+Q+M/MhgNuO4zyPEmERmEFfiOiWUuoVgF/zmaKAIA0RfQJwUyn1VjSZQZFAmEaC9ojomlLqXVhjMHGBSlEFMvMUwEsiuqqUciVmJRA+RCTe8X1/t9vt+iaAyN3UWl92XfeDCSAiHBPRLhHtGAHh/Owz84YpIOUcMfN1G0CKf2gD/ATw2gYQtfZtAFHruxUAYGAFMPOJFQDgNAbW7XqxSgYKSUi8lkyEilW6uCoxs/wHQETBtTDOLo1ZYDKZxGTy5zS3AJ0FtNZIp9MolUpot9sYDAZIJBLzUDRQq9WCDPV6HcPhcB46D6RSKVSrVeRyOXieh0ajMQ+dr0HeO5PJoFwuI5vNwvd9NJvNAIrcNaTw6XSKfD6PSqUS1NTtdoNM4/H4PzOISlY1zGS1UslqHqxnOjxNmq8lg08u3pcMRIr/cSYixSrFKi1T4OJtM//Sllk3flatpTSvH20aP2mP39gA1g24VYsv7ou5iRDaFPeIaNukhpkRsuG67nsTwNxqsTJzmFkTkdhE4vystotCQ+ozgBsmhpTEG1teokgLwB2l1It1ppoEf2XmzWQy+azVao1X2nahMShO1f1erxecCJcB1tajtblpbZ/aGbS2FvBvjGKajFbjtcoAAAAASUVORK5CYII=);
}

.Sidebar-Toggle.expand:hover {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAB0CAYAAACxBNNLAAACoUlEQVRYR+2Yz2oTURTGv5NODQE3bSlZiIaAexc+gPgYduEjKFhxYaX+AbtoQepGFKELBXGlKxGsvkBd2KpFlOC9EwUbkgwkpmkSk3vkDBNJ2ml6b112splFvl8O57s39875KJfLnW+1WmulUmkbFh/K5/OPjTELvu8rCz0E8Jl5QWu9AuDPQZAALWbeNMZcLBaLmzbAjoiMMU+JaF5rvTUKkgpNABlmrgJYrNfrD4MgqO8H/QMAMICfRHTLGPNMa92KgwYB+Z6Z+TuAOa31izgTdgN96CsRXVNKvQbQHawUB4RliOgTgKtKqXfiSR+KBaIyIlojostKqfdRj+HChS7FNcjMPQCviOiSUsoXzUgg+hGxeKnRaCyXy+WGDSB2fzPGXPB9f90GEBO2iWiZiJasgGh9Nph5xhaQdraY+YoLIM0/cgE6AN64AOLWhgsgbv1yAgDUnABmbjoBAHYS4KBTL3HJwiGRJHvJxqjEpaPrEjOHLxeeXOJEu40Y3hoi9ohwPJVC0OtB5KlhaBjoMOOk52F2YgIrtRrW220cIxqEhoE2M055Hp5kswiMwfVKBV86nUFob4Xs2BjuTU/jbDodVrhZrQ5Ce3uQd57T4+OYm5zEmXQ6FN8NgvAZe2r0mNFixrlMBnempnDC8/C22cTtIEC52/3PCuKSUw+HcslpHZxXOnqbtN9LFn+55FyyMCm542xMSlxKXNrPgaN3zBxmLHMe/JxGSxleP7oMfnJRr7oAzgO404gv6Yt9iBDFFPeJaNGmh34QMuP7/gcbwD5qcQpzmNkQkcREkvyMjouiQOozgFmbQEr01pGXOFIAcEMp9fKgUE3EP5h53vO854VCoT0ytouCQUmqHlQqld+jgkHn6NE53HSOT90CWtcI+C96MZiIVG9lIAAAAABJRU5ErkJggg==);
}

@media only screen and (max-width: 600px) {
  .SidebarWrapper {
    flex: none;
    position: fixed;
    top: 54px;
    left: 0;
    height: calc(100% - 54px);
    z-index: 5;
  }

  .Sidebar-Toggle {
    display: none;
  }
}
