.PlaylistVideos__Header {
  display: flex;
  flex-direction: column;
  background-color: var(--main-dark-1);
  padding: 8px 16px;
  height: 38px;
}

#playlistVideos__Container {
  overflow-y: auto;
  height: calc(100% - 38px - 16px);
}

html[theme='dark'] #playlistVideos__Container {
  background-color: var(--main-dark-4);
}

html[theme='light'] #playlistVideos__Container {
  background-color: var(--main-dark-5);
}

.PVH-Name {
  font-size: 17px;
}

.PVH-TotalVideos {
  color: var(--main-grey-2);
}

span#PlaylistVideosBodySkeleton {
  background-color: #ffffff02 !important;
}
