.PlayerSkeleton {
  position: relative;
  width: 100%;
  padding-top: 500px;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
  .PlayerSkeleton {
    padding-top: 48%;
  }
}

.PlayerSkeleton-Player {
  position: absolute;
  left: 0;
  top: 0;
}
