.uploadFileWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-dark-3);
  transition: background-color 0.2s;
}

.uploadFileWrapper.dragIn {
  background-color: var(--main-dark-4);
}

.uploadFileWrapper.dragIn .uploadFile {
  border: 2px dashed var(--main-green-1);
}

.uploadFile {
  padding: 8% 16%;
  border: 2px dashed var(--main-grey-1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: border 0.2s;
}

.uploadFile h1 {
  margin: 32px 0 16px 0;
  transition: color 0.2s;
  color: var(--main-dark-blue);
}

.uploadFile svg {
  height: 65px;
  width: 170px;
}

.uploadFile__selectVideo {
  padding: 12px 32px;
  white-space: nowrap;
  background-color: var(--main-blue-1);
  border: none;
  color: white;
  user-select: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  width: fit-content;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.uploadFile__selectVideo:hover {
  background-color: var(--main-blue-2);
}
