.App {
  height: 100%;
}

.App__Container {
  display: flex;
  height: calc(100% - 54px);
}

.infinite-scroll-component {
  overflow: unset !important;
}

/* .MuiSkeleton-root { */
/*   background-color: var(--main-dark-4) !important; */
/* } */

.App-BlueClickableText {
  color: var(--main-blue-1);
  cursor: pointer;
}

.App-BlueClickableText:hover {
  color: var(--main-blue-2);
}

.App-RedButton,
.App-GreenButton,
.App-GreyButton {
  white-space: nowrap;
  background-color: var(--main-red-1);
  border: none;
  color: white;
  user-select: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.1s;
}

.App-RedButton {
  background-color: var(--main-red-1);
}

.App-RedButton:hover {
  background-color: var(--main-red-2);
}

.App-GreenButton {
  background-color: var(--main-green-1);
}

.App-GreenButton:hover {
  background-color: var(--main-green-2);
}

.App-GreyButton {
  background-color: var(--main-grey-1);
}

.App-GreyButton:hover {
  background-color: var(--main-grey-2);
}

.App-TextInput {
  border: none;
  outline: none;
  line-height: 20px;
  background: var(--main-dark-4);
  resize: none;
  padding: 4px 8px;
  color: white;
  border: 1px solid var(--main-grey-1);
  border-radius: 3px;
  transition: border 0.1s linear;
  box-sizing: border-box;
}

.App-TextInput:focus {
  border: 1px solid var(--main-green-1);
}

.App-Text2Line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
}

.App-Text1Line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
}
