.App {
  height: 100%;
}

.App__Container {
  display: flex;
  height: calc(100% - 54px);
}

.infinite-scroll-component {
  overflow: unset !important;
}

.MuiSkeleton-root {
  background-color: rgba(255, 255, 255, 0.11) !important;
}

.App-BlueClickableText {
  color: var(--main-blue-1);
  cursor: pointer;
}

.App-BlueClickableText:hover {
  color: var(--main-blue-2);
}

.App-RedButton,
.App-GreenButton,
.App-GreyButton {
  white-space: nowrap;
  background-color: var(--main-red-1);
  border: none;
  color: white;
  user-select: none;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: background-color 0.1s;
}

.App-RedButton {
  background-color: var(--main-red-1);
}

.App-RedButton:hover {
  background-color: var(--main-red-2);
}

.App-GreenButton {
  background-color: var(--main-green-1);
}

.App-GreenButton:hover {
  background-color: var(--main-green-2);
}

.App-GreyButton {
  background-color: var(--main-grey-1);
}

.App-GreyButton:hover {
  background-color: var(--main-grey-2);
}

.App-TextInput {
  outline: none;
  line-height: 20px;
  background: var(--main-dark-4);
  resize: none;
  padding: 4px 8px;
  color: white;
  border: 1px solid var(--main-grey-1);
  border-radius: 3px;
  transition: border 0.1s linear;
  box-sizing: border-box;
}

.App-TextInput:focus {
  border: 1px solid var(--main-green-1);
}

.App-Text1Line,
.App-Text2Line,
.App-Text3Line {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.App-Text1Line {
  -webkit-line-clamp: 1; /* number of lines to show */
}
.App-Text2Line {
  -webkit-line-clamp: 2; /* number of lines to show */
}
.App-Text3Line {
  -webkit-line-clamp: 3; /* number of lines to show */
}

.App-VerticalVideoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media only screen and (max-width: 1500px) {
  .App-VerticalVideoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  .App-VerticalVideoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .App-VerticalVideoGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.App-HorizontalPlaylistGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

@media only screen and (max-width: 700px) {
  .App-HorizontalPlaylistGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.App-UserGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-items: center;
}

@media only screen and (max-width: 1500px) {
  .App-UserGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1100px) {
  .App-UserGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .App-UserGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
