html {
  height: 100%;
  --main-dark-1: #1a1a1a;
  --main-dark-2: #212121;
  --main-dark-3: #262626;
  --main-dark-4: #2f2f2f;
  --main-dark-5: #3c3c3c;
  --main-grey-1: #575757;
  --main-grey-2: #9f9f9f;
  --main-grey-3: #bbb;
  --main-red-1: #e33d3d;
  --main-red-2: #ff4848;
  --main-red-3: #f56161;
  --main-dark-blue-1: #3c5d94;
  --main-blue-1: #3db6e3;
  --main-blue-2: #90e1ff;
  --main-green-1: #4bc57e;
  --main-green-2: #36884d;
  overflow-x: hidden;
}

body {
  margin: 0;
  color: white;
  background-color: var(--main-dark-3);
  height: 100%;
}

body * {
  /* font-family: 'Roboto', sans-serif; */
  font-family: Helvetica, 'Hiragino Sans GB', 'PingFang SC', Arial, sans-serif, 'Heiti SC',
    'Microsoft YaHei';
}

#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

span,
pre,
div,
p,
h5 {
  font-size: 13px;
  /* font-size: 14px; */
}
